#vid{
    position: absolute;
   top: 0;
   left: 0;

    width:  100%;
    height: 100vh;
    
    display: block;
    align-items: inherit;
    justify-content: center;
    overflow: hidden;
    margin: auto;
    
   
}
#wel{
 text-align: center;
 font-size: 6rem;
 font-family: 'Cookie', cursive;
 background: transparent;
 padding: 20px;
  margin: 15px;
  z-index: 1;
  opacity: 80%;
color: white;

}
.video-container{
 position: absolute;
 top: 0;
 left: 0;
 width: 100% ; 
 height: 100vh;   
}